<div class="content">
  <h1>
    Chega Lá e
    <span class="txt-type">
      {{ txt }}
    </span>
  </h1>
  <p class="lead">
    Sou Representante Eudora.Tenho produtos à pronta entrega e por encomenda.
    Veja alguns dos produtos, entre em contato e faça seu pedido.
  </p>
  <a routerLink="produtos" class="btn-light">Ver Produtos</a>
</div>
<section class="text-center py-2 home">
  <div class="container">
    <h2 class="section-title">Os melhores produtos para você</h2>
    <div class="bottom-line"></div>
    <p class="lead">
      Eudora oferece um amplo portfólio de produtos. Com mais de 600 itens e
      atendendo as mais variadas categorias de beleza!
    </p>
    <div class="specials">
      <div>
        <i class="iconb b-perfume-bottle x2"></i>
        <h3>Perfumes</h3>
        <p>Fragrâncias que são a assinatura de mulheres inesquecíveis</p>
      </div>
      <div>
        <i class="iconb b-thin-comb x2"></i>
        <h3>Cabelos</h3>
        <p>Cuidados profissionais para todos os tipos de cabelos</p>
      </div>
      <div>
        <i class="iconb b-face-cream x2"></i>
        <h3>Tratamentos</h3>
        <p>Tratamentos diários para uma pele radiante e rejuvenescida</p>
      </div>
      <div>
        <i class="iconb b-soap-for-hands x2"></i>
        <h3>Hidratantes</h3>
        <p>A suavidade e maciez dos tecidos finos no toque da sua pele</p>
      </div>
    </div>
  </div>
</section>
